[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	attributesfile = ~/.gitattributes_global
[user]
	name = akinrt
	email = aki.d.sc@gmail.com
[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[diff]
	compactionHeuristic = true
	renames = true
[alias]
	st = status
	co = checkout
	br = branch
	cm = commit
	df = diff
	gr = grep
	ft = fetch
	pl = pull
	graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
	graph-mini = log --graph --decorate --oneline
	log1 = log --stat --decorate --find-renames
	log2 = log --graph --decorate --oneline
	log3 = log -p
	status1 = status --short --branch
[credential]
	helper = osxkeychain
[color]
	ui = auto
