[core]
	excludesfile = ~/.gitignore_global
	editor = vim
    attributesfile = ~/.gitattributes_global
    pager = less -r
[user]
	name = akinrt
	email = aki.d.sc@gmail.com
[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pager]
	log = diff-highlight | less -r
	show = diff-highlight | less -r
	diff = diff-highlight | less -r
[diff]
	compactionHeuristic = true
	renames = true
[alias]
	st = status
	co = checkout
	br = branch
	cm = commit
	df = diff
	gr = grep
	ft = fetch
	pl = pull
	graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
	graph-mini = log --graph --decorate --oneline
	log1 = log --stat --decorate --find-renames
	log2 = log --graph --decorate --oneline
	log3 = log -p
	status1 = status --short --branch
	cml = "!f() { git log $1 --pretty=format:\"<li><a href='\"http://github.com/$2/commit/%H\"'>view commit</a> %s</li>\"; }; f"
	bk = "!f() { git branch $1-bk`date \"+%Y%m%d%H%M%S\"`$2; }; f"
	tidy = !git checkout master && git branch --merged | grep -v \"*\" | xargs -I % git branch -d %
[credential]
	helper = osxkeychain
[color]
	ui = auto
